# %% [markdown]
# # config

# %%
#|default_exp config

# %%
#|hide
from nblite import nbl_export, show_doc; nbl_export()

# %%
#|export
from importlib import resources
from adulib.config import PkgConfig, PathRef
import {{module_name_slug}}

# %%
#|export
class Config(PkgConfig):
    pkg_root_path: PathRef = resources.files({{module_name_slug}}.__name__).joinpath('')
    store_path: PathRef
    caches_path: PathRef
    data_path: PathRef
    misc_path: PathRef
    pre_output: PathRef
    output_path: PathRef
    env_path: PathRef|None = None


# %% [markdown]
# Load the configuration from the default config file path:

# %%
#|exporti
_config_path = Config.model_fields['pkg_root_path'].default / 'assets/config.toml'
_loaded_config = Config.from_toml(_config_path)
