# %% [markdown]
# # const

# %%
#|default_exp const._const

# %%
#|hide
import nblite; from nbdev.showdoc import show_doc; nblite.nbl_export()

# %%
#|export
import adulib.llm
from dotenv import load_dotenv

# %% [markdown]
# ## Load `config.toml`

# %%
#|export
import sys
from {{module_name_slug}}.config import _loaded_config
_loaded_config.impart(sys.modules[__name__])

# %%
print("Loaded config:")
for k, v in _loaded_config.model_dump().items():
    print(f"  {k}: {v}")

# %% [markdown]
# ## Miscellaneous setup and non-configurable constants

# %% [markdown]
# Set scripts and assets paths

# %%
#|export
scripts_path = pkg_root_path / 'scripts'
assets_path = pkg_root_path / 'assets'

# %% [markdown]
# Create folders if they do not exist 

# %%
#|export
store_path.mkdir(parents=True, exist_ok=True)
caches_path.mkdir(parents=True, exist_ok=True)
data_path.mkdir(parents=True, exist_ok=True)
misc_path.mkdir(parents=True, exist_ok=True)
pre_output.mkdir(parents=True, exist_ok=True)
output_path.mkdir(parents=True, exist_ok=True)

# %% [markdown]
# Set up default caching and LLM call logging

# %%
#|export
adulib.caching.set_default_cache_path(caches_path / 'default')
adulib.llm.set_call_log_save_path(store_path / 'call_log.jsonl')

# %% [markdown]
# Load environment variables

# %%
#|export
load_dotenv(dotenv_path=env_path, override=True)

# %% [markdown]
# Display all columns in Pandas output

# %%
#|export
import pandas as pd
pd.set_option('display.max_columns', None)
