# %% [markdown]
# # utils

# %%
#|default_exp utils

# %%
#|hide
from nblite import nbl_export, show_doc; nbl_export()

# %%
#|export
import {{module_name_slug}} as proj
from {{module_name_slug}} import const

# %%
import {{module_name_slug}}.utils as this_module

# %%
show_doc(this_module.foo)

# %%
#|export
def foo():
    print("Hello")
