# %% [markdown]
# # 00_rename_this

# %%
#|default_exp core.core00_rename_this

# %%
#|hide
import nblite; from nbdev.showdoc import show_doc; nblite.nbl_export()

# %%
#|export
import {{module_name_slug}} as proj
from {{module_name_slug}} import const

# %%
import {{module_name_slug}}.core.core00_rename_this as this_module

# %%
show_doc(this_module.foo)

# %%
#|export
def foo():
    print("This is being run in the core!")
    
foo()