export_pipeline = """
nbs -> pts
pts -> lib
"""

docs_cl="nbs"
docs_title="{{module_name}}"

readme_nb_path = "nbs/index.ipynb"

[cl.lib]
path="src/{{module_name_slug}}"
format="module"

[cl.nbs]
format="ipynb"

[cl.pts]
format="percent"