[project]
name = "{{module_name}}"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build]
ignore-vcs = true
packages = ["{{module_name_slug}}"]
include = [
    "{{module_name_slug}}/static/**",
    "{{module_name_slug}}/scripts/**",
]

[dependency-groups]
dev = [
    "jupyterlab>=4.4.0",
    "nblite>=0.2.0",
]

[project.scripts]
{{module_name}} = "{{module_name_slug}}.cli.app:app"