[project]
name = "{{project_name}}"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build]
ignore-vcs = true
packages = ["{{project_name_slug}}"]
include = ["{{project_name_slug}}/static/**"]

[dependency-groups]
dev = [
    "jupyterlab>=4.4.0",
    "nblite>=0.2.0",
]

