# %% [markdown]
# # const

# %%
#|default_exp const

# %%
#|hide
import nblite; from nbdev.showdoc import show_doc; nblite.nbl_export()

# %%
#|export
from pathlib import Path
from importlib import resources
import {{module_name_slug}} as proj

# %%
#|export
root_path = resources.files(f'{proj.__name__}').joinpath('').resolve()
store_path = resources.files(f'{proj.__name__}.store').joinpath('').resolve()
caches_path = Path(store_path, 'caches')
data_path = Path(store_path, 'data')
misc_path = Path(store_path, 'misc')
pre_output = Path(store_path, 'pre_output')
output_path = Path(store_path, 'output')

# %%
#|export
store_path.mkdir(parents=True, exist_ok=True)
caches_path.mkdir(parents=True, exist_ok=True)
data_path.mkdir(parents=True, exist_ok=True)
misc_path.mkdir(parents=True, exist_ok=True)
pre_output.mkdir(parents=True, exist_ok=True)
output_path.mkdir(parents=True, exist_ok=True)
