{
    "cells": [
        {
            "cell_type": "markdown",
            "id": "cb17da20",
            "metadata": {},
            "source": [
                "# const"
            ]
        },
        {
            "cell_type": "code",
            "execution_count": null,
            "id": "7099225a",
            "metadata": {},
            "outputs": [],
            "source": [
                "#|default_exp const"
            ]
        },
        {
            "cell_type": "code",
            "execution_count": null,
            "id": "48f169b6",
            "metadata": {},
            "outputs": [],
            "source": [
                "#|hide\n",
                "import nblite; from nbdev.showdoc import show_doc; nblite.nbl_export()"
            ]
        },
        {
            "cell_type": "code",
            "execution_count": null,
            "id": "3247be70",
            "metadata": {},
            "outputs": [],
            "source": [
                "#|export\n",
                "from pathlib import Path\n",
                "import {{project_name_slug}} as proj"
            ]
        },
        {
            "cell_type": "code",
            "execution_count": null,
            "id": "38b1c43a",
            "metadata": {},
            "outputs": [],
            "source": [
                "#|export\n",
                "root_path = Path(proj.__file__).parent.resolve()\n",
                "store_path = Path(root_path, 'store')\n",
                "caches_path = Path(store_path, 'caches')\n",
                "data_path = Path(store_path, 'data')\n",
                "misc_path = Path(store_path, 'misc')\n",
                "pre_output = Path(store_path, 'pre_output')\n",
                "output_path = Path(store_path, 'output')"
            ]
        },
        {
            "cell_type": "code",
            "execution_count": null,
            "id": "649f17a0",
            "metadata": {},
            "outputs": [],
            "source": [
                "#|export\n",
                "store_path.mkdir(parents=True, exist_ok=True)\n",
                "caches_path.mkdir(parents=True, exist_ok=True)\n",
                "data_path.mkdir(parents=True, exist_ok=True)\n",
                "misc_path.mkdir(parents=True, exist_ok=True)\n",
                "pre_output.mkdir(parents=True, exist_ok=True)\n",
                "output_path.mkdir(parents=True, exist_ok=True)"
            ]
        }
    ],
    "metadata": {
        "language_info": {
            "name": "python"
        }
    },
    "nbformat": 4,
    "nbformat_minor": 5
}
