{
 "cells": [
  {
   "cell_type": "markdown",
   "id": "cba24cf8",
   "metadata": {},
   "source": [
    "# utils"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "e8ad6380",
   "metadata": {},
   "outputs": [],
   "source": [
    "#|default_exp utils"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "7a5ff273",
   "metadata": {
    "lines_to_next_cell": 1
   },
   "outputs": [],
   "source": [
    "#|hide\n",
    "import nblite; from nbdev.showdoc import show_doc; nblite.nbl_export()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "e0767ea9",
   "metadata": {},
   "outputs": [],
   "source": [
    "#|export\n",
    "import {{project_name_slug}} as proj\n",
    "from {{project_name_slug}} import const"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "4c0d1004",
   "metadata": {},
   "outputs": [],
   "source": [
    "#|export\n",
    "def foo():\n",
    "    print(\"Hello\")"
   ]
  }
 ],
 "metadata": {
  "jupytext": {
   "cell_metadata_filter": "-all",
   "main_language": "python",
   "notebook_metadata_filter": "-all"
  },
  "language_info": {
   "name": "python"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}
